<body>

    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="pass">

            <form [formGroup]="passwordForm" (ngSubmit)="passwordUser()">
                <p style=" margin-left: -40px;">Commençons par </p>
                <p style="margin-top: -40px;margin-left: -25px;">trouver votre </p><p style="margin-top: -40px;margin-left: -50px;">compte</p>

                <div style="margin-top: 30px;" class="entre">Entrez simplement votre adresse e-mail <div style="margin-bottom: 30px;" class="entre">
                        ci-dessous et nous vous enverrons un lien <br> pour réinitialiser votre mot de passe!
                    </div>
                </div>


                <div>
                    <input formControlName="email" class="form-control" id="exampleEmail" type="email"
                        class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
                        placeholder="Enterez Adresse Email ..." size="50">
                    <div *ngIf="email.touched && email.invalid" class="text-danger">
                        <div *ngIf="email.errors.required">
                            <small>* L'adresse email est obligatoire</small>
                        </div>
                        <div *ngIf="email.errors.pattern">
                            <small>* L'adresse email est invalide</small>
                        </div>
                    </div>
                </div>
                <button routerLink="/signup" [disabled]="passwordForm.invalid" class="btn-block">
                    Réinitialiser le mot de passe
                </button>
            </form>

        </div>
    </div>
</body>