
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->

    <!-- End of Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-topbar></app-topbar>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Paramétres <small> / Document</small></h1>

                </div>


                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col">
                        <div class="card" style="width: 67rem; ">

                            <!-- Card Body -->
                            <div class="card-body">
                                <p>CONFIGURER MES DOCUMENTS DE VENTE</p>


                                <div class="card">
                                    <div class="card-header">

                                        <ul class="nav nav-tabs card-header-tabs">
                                            <li class="nav-item">
                                                <a class="nav-link" routerLink="/docdevis"><strong>Devis</strong></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active"><strong>Facture</strong></a>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="card-body">


                                        <div class="card-body ">
                                            <form style="margin-left: 270px;">
                                                <div class="loulou">
                                                    <label for="nom">Etiquette utilisée</label><input class="lou"
                                                        type="text" name="nom" size="35" maxlength="40" id="nom">

                                                </div>

                                                <div class="form-group row">
                                                    <div class="col mb-3 mb-sm-0">
                                                        <span><label for="per">Période de validité</label><input
                                                                class="hos" type="text" name="per" size="38.9999"
                                                                maxlength="40" id="per"></span>
                                                        <span><label>Pays</label>
                                                            <select class="hoss" class="form-control">
                                                                <option value="0"></option>
                                                                <option value="1">journée</option>
                                                                <option value="2">mois</option>
                                                                <option value="3">année</option>

                                                            </select>
                                                        </span>

                                                    </div>
                                                </div>
                                                
                                                <div class="form-group row">
                                                    <div class="col mb-3 mb-sm-0">
                                                        <label for="note">Note</label><textarea class="mougou"
                                                            type="text" name="note" size="200" maxlength="40"
                                                            id="note"></textarea>
                                                    </div>
                                                </div>


                                                <button class="btn btn-success btn-sm my-3">
                                                    ENREGISTRER
                                                </button>
                                            </form>
                                        </div>


                                    </div>




                                </div>


                            </div>

                        </div>


                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2021</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>