<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">
    <img style="margin-right: 10px;" src="/assets/land/assets/img/favicon.PNG">
    <h1 class="logo mr-auto"><a href="index.html">Billing</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a >Accueil</a></li>
        <li><a routerLink="/navservices">Services</a></li>
        <li><a routerLink="/navcontact">Contact</a></li>
        <a style="color:White;" href="/signup" class="get-started-btn scrollto">Créer un compte</a>
        <a style="color:White;" href="/signin" class="get-started-btn scrollto"><i class="fas fa-user fa-sm fa-fw mr-2"></i> Mon compte</a>
      </ul>
    </nav><!-- .nav-menu -->

    
  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up"
        data-aos-delay="200">
        <h1>Créez vos factures et devis en moins de 2 minutes</h1>
        <h2>Un logiciel de facturation simple et efficace pour suivre au mieux vos achats et ventes. </h2>

      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="/assets/land/assets/img/hero-img.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->

<main id="main">

  <!-- ======= Cliens Section ======= -->
  <section id="cliens" class="cliens section-bg">
    <div class="container">

      <div class="row" data-aos="zoom-in">

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/assets/land/assets/img/clients/client-1.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/assets/land/assets/img/clients/client-2.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/assets/land/assets/img/clients/client-3.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/assets/land/assets/img/clients/client-4.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/assets/land/assets/img/clients/client-5.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
          <img src="/assets/land/assets/img/clients/client-6.png" class="img-fluid" alt="">
        </div>

      </div>

    </div>
  </section><!-- End Cliens Section -->

 

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <p>Des fonctionnalités qui s'adapte à votre activité</p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="far fa-calendar-minus"></i></div>
            <h4><a>Définissez vos termes</a></h4>
            <p>Inscrivez la date d’échéance de votre facture pour formaliser vos accords de règlement.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-layer"></i></div>
            <h4><a>Évaluez vos projets</a></h4>
            <p>Vous travaillez en mode projet? <br> Attribuer vos factures au bon projet pour mieux comprendre vos
              marges.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-dollar-sign"></i></div>
            <h4><a>Facturez en devise</a></h4>
            <p>Grace à notre outil de conversion transformez en un clic la devise de vos factures.</p>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="fas fa-upload"></i></div>
            <h4><a>Téléchargez et transférez</a></h4>
            <p>Envoyé vos documents par mail en un seul clic ou exportez les pour garder une trace physique</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Services Section -->

  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3>Un logiciel de facturation</h3>
            <h4><span>Simple et efficace</span></h4>
            <p>Remplissez et visualisez facilement vos factures grâce à un éditeur ultra simple d’utilisation.
              Soyez en conformité avec la loi, tout ce qui doit être sur vos factures l’est déjà !</p>
            <ul>
              <li><i class="bx bx-check"></i> Numérotation automatique des documents (Factures, devis…)</li>
              <li><i class="bx bx-check"></i> Informations obligatoires pré-inscrites</li>
              <li><i class="bx bx-check"></i> Personnalisation visuelle : Logo et couleur modifiable.</li>
            </ul>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="box featured">
            <h3>Suivez vos clients et fournisseurs</h3>
            <p>Lorsque vous validez un devis ou un bon de livraison, vous pouvez le transformer en facture en un clic.
              Pas besoin de tout réécrire, vous allez gagner beaucoup de temps !<br>
              <br>Suivez simplement les devis en cours de négociation, non validés ou validés. De même pour les factures
              payées ou non payées. Ne passez plus à côté d’un paiement ou d’une relance.
            </p>
            <ul>
              <li><i class="bx bx-check"></i> Suivez les règlements en temps réel</li>
              <li><i class="bx bx-check"></i> Envoyez facilement vos devis et factures par mail</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </section>



  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contact</h2>
        
      </div>

      <div class="row">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>

            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>info@example.com</p>
            </div>

            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Call:</h4>
              <p>+1 5589 55488 55s</p>
            </div>

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
              frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name">Your Name</label>
                <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4"
                  data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Your Email</label>
                <input type="email" class="form-control" name="email" id="email" data-rule="email"
                  data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4"
                data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea class="form-control" name="message" rows="10" data-rule="required"
                data-msg="Please write something for us"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">



  
  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Billing</span></strong>. All Rights Reserved
    </div>
    
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>