<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->

    <!-- End of Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-topbar></app-topbar>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Nouveau fournisseur</h1>

                </div>


                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col">
                        <div class="card shadow mb-4">

                            <!-- Card Body -->
                            <div class="card-body" style="padding:40px;">
                                <h6 style="color: black;font-weight: bold;">INFORMATIONS</h6>
                                <hr>

                                <form [formGroup]="fournisseursAddForm" class="user" (ngSubmit)="fournisseursUser()">

                                    

                                    <div  class="professionnel" style="margin-left: 2px;" class="row">


                                        <div class="pp"><label for="raison">Raison Sociale</label><input class="fai"
                                                type="text" name="raison" class="form-control" id="raison" size="61">

                                        </div>
                                        
                                        <div class="pp"><label for="site">Site Web</label><input class="faisss"
                                                class="form-control" type="text" name="site" size="49" maxlength="20"
                                                id="site">
                                        </div>

                                    </div>





                                    <br>

                                    <div style="margin-left: 2px;" class="row">

                                        <div class="pp"><label>Civilité</label>
                                            <select class="faiss" class="form-control" formControlName="civilite">
                                                <option value="M">M</option>
                                                <option value="Mme">Mme</option>

                                            </select>
                                        </div>
                                        <div class="pp"><label for="nom">Nom et Prénom <span style="color: red;">*</span></label><input class="fai"
                                                type="text" formControlName="nom" class="form-control" id="exampleNom"
                                                size="49">
                                            <div *ngIf="nom.touched && nom.invalid" class="text-danger">
                                                <div *ngIf="nom.errors.required">
                                                    <small>* Champ obligatoire</small>
                                                </div>

                                                <div *ngIf="nom.errors.pattern">
                                                    <small>* Champ invalide</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pp"><label for="email">Email <span style="color: red;">*</span></label><input class="fais" type="email"
                                                formControlName="email" size="49" class="form-control"
                                                id="exampleEmail">
                                            <div *ngIf="email.touched && email.invalid" class="text-danger">
                                                <div *ngIf="email.errors.required">
                                                    <small>* Champ obligatoire</small>
                                                </div>

                                            </div>
                                        </div>
                                       

                                    </div>
                                    <br>

                                    <fieldset>
                                        <legend>Contact</legend>

                                        <label for="num">Numèro mobile</label><br>
                                        <input class="form-control" type="Phone" name="num" formControlName="num" id="exampleNum" size="30">


                                    </fieldset>
                                    <hr>

                                    <fieldset>
                                        <legend>Adresse</legend>


                                        <div style="margin-left: 2px;" class="row">


                                            <div class="pp"><label for="pays">Pays <span style="color: red;">*</span></label>
                                                <select class="louuu" class="form-control" formControlName="pays"
                                                    id="examplePays">
                                                    <option value="0"></option>
                                                    <option value="Afghanistan">Afghanistan</option>
                                                    <option value="Afrique du Sud">Afrique du Sud</option>
                                                    <option value="Albanie">Albanie</option>
                                                    <option value="Algérie">Algérie</option>
                                                    <option value="Allemagne">Allemagne</option>
                                                    <option value="Andorre">Andorre</option>
                                                    <option value="Angola">Angola</option>
                                                    <option value="Anguilla">Anguilla</option>
                                                    <option value="Antarctique">Antarctique</option>
                                                    <option value="Antigua-et-Barbuda">Antigua-et-Barbuda</option>
                                                    <option value="Arabie saoudite">Arabie saoudite</option>
                                                    <option value="Argentine">Argentine</option>
                                                    <option value="Aeménie">Aeménie</option>
                                                    <option value="Aruba">Aruba</option>
                                                    <option value="Australie">Australie</option>
                                                    <option value="Autriche">Autriche</option>
                                                    <option value="Azerbaïdjan">Azerbaïdjan</option>
                                                    <option value="Bahamas">Bahamas</option>
                                                    <option value="Bahreïn">Bahreïn</option>
                                                    <option value="Bangladesh">Bangladesh</option>
                                                    <option value="Barbade">Barbade</option>
                                                    <option value="Belgique">Belgique</option>
                                                    <option value="Belize">Belize</option>
                                                    <option value="Bénin">Bénin</option>
                                                    <option value="Bermudes">Bermudes</option>
                                                    <option value="Bhoutan">Bhoutan</option>
                                                    <option value="Biélorussie">Biélorussie</option>
                                                    <option value="Bolivie">Bolivie</option>
                                                    <option value="Bosnie-Herzégovine">Bosnie-Herzégovine</option>
                                                    <option value="Botswana">Botswana</option>
                                                    <option value="Brésil">Brésil</option>
                                                    <option value="Brunéi Darussalam">Brunéi Darussalam</option>
                                                    <option value="Bulgarie">Bulgarie</option>
                                                    <option value="Burkina Faso">Burkina Faso</option>
                                                    <option value="Burundi">Burundi</option>
                                                    <option value="Cambodge">Cambodge</option>
                                                    <option value="Cameroun">Cameroun</option>
                                                    <option value="Canada">Canada</option>
                                                    <option value="Cap-Vert">Cap-Vert</option>
                                                    <option value="Chili">Chili</option>
                                                    <option value="Chine">Chine</option>
                                                    <option value="Chypre">Chypre</option>
                                                    <option value="Colombie">Colombie</option>
                                                    <option value="Comores">Comores</option>
                                                    <option value="Congo-Brazzaville">Congo-Brazzaville</option>
                                                    <option value="Congo-kinshasa">Congo-kinshasa</option>
                                                    <option value="Corée du Nord">Corée du Nord</option>
                                                    <option value="Corée du Sud">Corée du Sud</option>
                                                    <option value="Costa Rica">Costa Rica</option>
                                                    <option value="Côte d'lvoire">Côte d'lvoire</option>
                                                    <option value="Croatie">Croatie</option>
                                                    <option value="Cuba">Cuba</option>
                                                    <option value="Curaçao">Curaçao</option>
                                                    <option value="Danemark">Danemark</option>
                                                    <option value="Djibouti">Djibouti</option>
                                                    <option value="Dominique">Dominique</option>
                                                    <option value="Egypte">Egypte</option>
                                                    <option value="Emirats arabes unis">Emirats arabes unis</option>
                                                    <option value="Equateur">Equateur</option>
                                                    <option value="Erythrée">Erythrée</option>
                                                    <option value="Espagne">Espagne</option>
                                                    <option value="Estonie">Estonie</option>
                                                    <option value="Eswatini">Eswatini</option>
                                                    <option value="Etat de la Cité du Vatican">Etat de la Cité du Vatican</option>
                                                    <option value="Etats fédérés de Micronésie">Etats fédérés de Micronésie </option>
                                                    <option value="Etats-Unis">Etats-Unis</option>
                                                    <option value="Ethiopie">Ethiopie</option>
                                                    <option value="Fidji">Fidji</option>
                                                    <option value="Finlande">Finlande</option>
                                                    <option value="France">France</option>
                                                    <option value="Gabon">Gabon</option>
                                                    <option value="Gambie">Gambie</option>
                                                    <option value="Géorgie">Géorgie</option>
                                                    <option value="Géorgie du Sud et îles Sandwich du Sud">Géorgie du Sud et îles Sandwich du Sud</option>
                                                    <option value="Ghana">Ghana</option>
                                                    <option value="Gibraltar">Gibraltar</option>
                                                    <option value="Grèce">Grèce</option>
                                                    <option value="Grenade">Grenade</option>
                                                    <option value="Groenland">Groenland</option>
                                                    <option value="Guadeloupe">Guadeloupe</option>
                                                    <option value="Guam">Guam</option>
                                                    <option value="Guatemala">Guatemala</option>
                                                    <option value="Guernesey">Guernesey</option>
                                                    <option value="Guinée">Guinée</option>
                                                    <option value="Guinée équatoriale">Guinée équatoriale</option>
                                                    <option value="Guinée-Bissau">Guinée-Bissau</option>
                                                    <option value="Guyana">Guyana</option>
                                                    <option value="Guyane française">Guyane française</option>
                                                    <option value="Haïti">Haïti</option>
                                                    <option value="Honduras">Honduras</option>
                                                    <option value="Hongrie">Hongrie</option>
                                                    <option value="îles Bouvet">îles Bouvet</option>
                                                    <option value="îles Christmas">îles Christmas</option>
                                                    <option value="îles de Man">îles de Man</option>
                                                    <option value="îles Norfolk">îles Norfolk</option>
                                                    <option value="îles Aland">îles Aland</option>
                                                    <option value="îles Caïmans">îles Caïmans</option>
                                                    <option value="îles Cocos">îles Cocos</option>
                                                    <option value="îles Cook">îles Cook</option>
                                                    <option value="îles Féroé">îles Féroé</option>
                                                    <option value="îles Heard et McDonald">îles Heard et McDonald</option>
                                                    <option value="îles Malouines">îles Malouines</option>
                                                    <option value="îles Mariannes du Nord">îles Mariannes du Nord</option>
                                                    <option value="îles Marshall">îles Marshall</option>
                                                    <option value="îles mineures éloignées des Etats-Unis">îles mineures éloignées des Etats-Unis</option>
                                                    <option value="îles Pitcairn">îles Pitcairn</option>
                                                    <option value="îles Salomon">îles Salomon</option>
                                                    <option value="îles Turques-et-Caïques">îles Turques-et-Caïques</option>
                                                    <option value="îles Vierges britanniques">îles Vierges britanniques</option>
                                                    <option value="îles Vierges des Etats-Unis">îles Vierges des Etats-Unis</option>
                                                    <option value="Inde">Inde</option>
                                                    <option value="Indonésie">Indonésie</option>
                                                    <option value="Irak">Irak</option>
                                                    <option value="Iran">Iran</option>
                                                    <option value="Irlande">Irlande</option>
                                                    <option value="Islande">Islande</option>
                                                    <option value="Israël">Israël</option>
                                                    <option value="Italie">Italie</option>
                                                    <option value="Jamaïque">Jamaïque</option>
                                                    <option value="Japon">Japon</option>
                                                    <option value="Jersey">Jersey</option>
                                                    <option value="Jordanie">Jordanie</option>
                                                    <option value="Kazakhstan">Kazakhstan</option>
                                                    <option value="Kenya">Kenya</option>
                                                    <option value="Kirghizistan">Kirghizistan</option>
                                                    <option value="Kiribati">Kiribati</option>
                                                    <option value="Koweït">Koweït</option>
                                                    <option value="La Réunion">La Réunion</option>
                                                    <option value="Laos">Laos</option>
                                                    <option value="Lesotho">Lesotho</option>
                                                    <option value="Lettonie">Lettonie</option>
                                                    <option value="Liban">Liban</option>
                                                    <option value="Libéria">Libéria</option>
                                                    <option value="Libye">Libye</option>
                                                    <option value="Liechtenstein">Liechtenstein</option>
                                                    <option value="Lituanie">Lituanie</option>
                                                    <option value="Luxembourg">Luxembourg</option>
                                                    <option value="Macédoine du Nord">Macédoine du Nord</option>
                                                    <option value="Madagascar">Madagascar</option>
                                                    <option value="Malaisie">Malaisie</option>
                                                    <option value="Malawi">Malawi</option>
                                                    <option value="Maldives">Maldives</option>
                                                    <option value="Mali">Mali</option>
                                                    <option value="Malte">Malte</option>
                                                    <option value="Maroc">Maroc</option>
                                                    <option value="Martinique">Martinique</option>
                                                    <option value="Maurice">Maurice</option>
                                                    <option value="Mauritanie">Mauritanie</option>
                                                    <option value="Mayotte">Mayotte</option>
                                                    <option value="Mexique">Mexique</option>
                                                    <option value="Moldavie">Moldavie</option>
                                                    <option value="Monaco">Monaco</option>
                                                    <option value="Mongolie">Mongolie</option>
                                                    <option value="Monténégro">Monténégro</option>
                                                    <option value="Montserrat">Montserrat</option>
                                                    <option value="Mozambique">Mozambique</option>
                                                    <option value="Myanmar(Birmanie)">Myanmar(Birmanie)</option>
                                                    <option value="Namibie">Namibie</option>
                                                    <option value="Nauru">Nauru</option>
                                                    <option value="Népal">Népal</option>
                                                    <option value="Nicaragua">Nicaragua</option>
                                                    <option value="Niger">Niger</option>
                                                    <option value="Nigéria">Nigéria</option>
                                                    <option value="Niue">Niue</option>
                                                    <option value="Norvège">Norvège</option>
                                                    <option value="Nouvelle-Calédonie">Nouvelle-Calédonie</option>
                                                    <option value="Nouvelle-Zélande">Nouvelle-Zélande</option>
                                                    <option value="Oman">Oman</option>
                                                    <option value="Ouganda">Ouganda</option>
                                                    <option value="Ouzbékistan">Ouzbékistan</option>
                                                    <option value="Pakistan">Pakistan</option>
                                                    <option value="Palaos">Palaos</option>
                                                    <option value="Panama">Panama</option>
                                                    <option value="Papouasie-Nouvelle-Guinée">Papouasie-Nouvelle-Guinée</option>
                                                    <option value="Paraguay">Paraguay</option>
                                                    <option value="Pays-Bas">Pays-Bas</option>
                                                    <option value="Pays-Bas caribéens">Pays-Bas caribéens</option>
                                                    <option value="Pérou">Pérou</option>
                                                    <option value="Philippines">Philippines</option>
                                                    <option value="Pologne">Pologne</option>
                                                    <option value="Polynésie française">Polynésie française</option>
                                                    <option value="Porto Rico">Porto Rico</option>
                                                    <option value="Portugal">Portugal</option>
                                                    <option value="Qatar">Qatar</option>
                                                    <option value="R.A.S. chinoise de Hong Kong">R.A.S. chinoise de Hong Kong</option>
                                                    <option value="R.A.S. chinoise de Macao">R.A.S. chinoise de Macao</option>
                                                    <option value="République centrafricaine">République centrafricaine</option>
                                                    <option value="République dominicaine">République dominicaine</option>
                                                    <option value="Roumanie">Roumanie</option>
                                                    <option value="Royaume-Uni">Royaume-Uni</option>
                                                    <option value="Russie">Russie</option>
                                                    <option value="Rwanda">Rwanda</option>
                                                    <option value="Sahara occidental">Sahara occidental</option>
                                                    <option value="Saint-Barthélemy">Saint-Barthélemy</option>
                                                    <option value="Saint-Christophe-et-Niévès">Saint-Christophe-et-Niévès</option>
                                                    <option value="Saint-Marin">Saint-Marin</option>
                                                    <option value="Saint-Martin">Saint-Martin</option>
                                                    <option value="Saint-Martin(partie néerlandaise)">Saint-Martin(partie néerlandaise)</option>
                                                    <option value="Saint-Pierre-et-Miquelon">Saint-Pierre-et-Miquelon</option>
                                                    <option value="Saint-Vincent-et-les-Grenadines">Saint-Vincent-et-les-Grenadines</option>
                                                    <option value="Sainte-Hélène">Sainte-Hélène</option>
                                                    <option value="Sainte-Lucie">Sainte-Lucie</option>
                                                    <option value="Salvador">Salvador</option>
                                                    <option value="Samoa">Samoa</option>
                                                    <option value="Samoa américaines">Samoa américaines</option>
                                                    <option value="Sao Tomé-et-Principe">Sao Tomé-et-Principe</option>
                                                    <option value="Sénégal">Sénégal</option>
                                                    <option value="Serbie">Serbie</option>
                                                    <option value="Seychelles">Seychelles</option>
                                                    <option value="Sierra Leone">Sierra Leone</option>
                                                    <option value="Singapour">Singapour</option>
                                                    <option value="Slovaquie">Slovaquie</option>
                                                    <option value="Slovénie">Slovénie</option>
                                                    <option value="Somalie">Somalie</option>
                                                    <option value="Soudan">Soudan</option>
                                                    <option value="Soudan du Sud">Soudan du Sud</option>
                                                    <option value="Sri Lanka">Sri Lanka</option>
                                                    <option value="Suède">Suède</option>
                                                    <option value="Suisse">Suisse</option>
                                                    <option value="Suriname">Suriname</option>
                                                    <option value="Svalbard et Jan Mayen">Svalbard et Jan Mayen</option>
                                                    <option value="Syrie">Syrie</option>
                                                    <option value="Tadjikistan">Tadjikistan</option>
                                                    <option value="Taïwan">Taïwan</option>
                                                    <option value="Tanzanie">Tanzanie</option>
                                                    <option value="Tchad">Tchad</option>
                                                    <option value="Tchéquie">Tchéquie</option>
                                                    <option value="Terres australes françaises">Terres australes françaises</option>
                                                    <option value="Territoire britnnique de l'océan Indien">Territoire britnnique de l'océan Indien</option>
                                                    <option value="Territoires palestiniens">Territoires palestiniens</option>
                                                    <option value="Thaïlande">Thaïlande</option>
                                                    <option value="Timor oriental">Timor oriental</option>
                                                    <option value="Togo">Togo</option>
                                                    <option value="Tokelau">Tokelau</option>
                                                    <option value="Tonga">Tonga</option>
                                                    <option value="Trinité-et-Tobago">Trinité-et-Tobago</option>
                                                    <option value="Tunisie">Tunisie</option>
                                                    <option value="Turkménistan">Turkménistan</option>
                                                    <option value="Turquie">Turquie</option>
                                                    <option value="Tuvalu">Tuvalu</option>
                                                    <option value="Ukraine">Ukraine</option>
                                                    <option value="Uruguay">Uruguay</option>
                                                    <option value="Vanuatu">Vanuatu</option>
                                                    <option value="Venezuela">Venezuela</option>
                                                    <option value="Vietnam">Vietnam</option>
                                                    <option value="Wallis-et-Futuna">Wallis-et-Futuna</option>
                                                    <option value="Yémen">Yémen</option>
                                                    <option value="Zambie">Zambie</option>
                                                    <option value="Zimbabwe">Zimbabwe</option>

                                                </select>
                                                <div *ngIf="pays.touched && pays.invalid" class="text-danger">
                                                    <div *ngIf="pays.errors.required">
                                                        <small>* Champ obligatoire</small>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="pp"><label for="region">Région</label><input class="louu"
                                                    class="form-control" formContolName="region" type="text" name="region" size="30" maxlength="40"
                                                    id="exampleRegion">
                                            </div>

                                        </div>



                                        <div class="pp"><label for="code">Code postal</label><input class="faisss"
                                                class="form-control" type="text" formControlName="code" name="code" size="45" maxlength="40"
                                                id="exampleCode">
                                        </div>

                                        <div class="pp"><label>Type</label>
                                            <select class="faiss" class="form-control" formControlName="type_facture">
                                                <option value="Adresse de Facturation">Adresse de Facturation</option>
                                                <option value="Adresse de Livraison">Adresse de Livraison</option>

                                            </select>

                                        </div>
                                        <br>
                                        <div class="aaje">
                                            <label for="adresse">Adresse</label><textarea class="lou" type="text"
                                                name="adresse" formControlName="adresse" class="form-control" id="exampleAdresse"></textarea>


                                        </div>





                                    </fieldset>
                                    
                                   

                                    <div style="margin-top: 70px; margin-left: 50px;margin-bottom: 70px;">
                                        <div class=" d-flex align-self-end"><button [disabled]="fournisseursAddForm.invalid"
                                                class="btn btn-success" type="submit"
                                              >Enregistrer</button> &nbsp;
                                            &nbsp;
                                            <!----><button class="btn btn-light ng-star-inserted" type="button"
                                                routerLink="/fournisseurs/list"> Annuler
                                            </button>&nbsp; &nbsp;
                                            <!---->&nbsp;
                                        </div>
                                    </div>


                                </form>

                            </div>
                        </div>


















                    </div>

                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


