<header id="header" class="fixed-top ">
  <div class="container d-flex align-items-center">
    <img style="margin-right: 10px;" src="/assets/land/assets/img/favicon.PNG">
    <h1 class="logo mr-auto"><a href="index.html">Billing</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li><a routerLink="/landing-page">Accueil</a></li>
        <li class="active"><a routerLink="/navservices">Services</a></li>
        <li><a routerLink="/navcontact">Contact</a></li>
        <a style="color:White;" href="/signup" class="get-started-btn scrollto">Créer un compte</a>
        <a style="color:White;" href="/signin" class="get-started-btn scrollto"><i class="fas fa-user fa-sm fa-fw mr-2"></i> Mon compte</a>
      </ul>
    </nav><!-- .nav-menu -->

    

  </div>
</header>
<br>
<br>
<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Services</h2>
      <p>Des fonctionnalités qui s'adapte à votre activité</p>
    </div>

    <div class="row">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="far fa-calendar-minus"></i></div>
          <h4><a>Définissez vos termes</a></h4>
          <p>Inscrivez la date d’échéance de votre facture pour formaliser vos accords de règlement.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4><a>Évaluez vos projets</a></h4>
          <p>Vous travaillez en mode projet? <br> Attribuer vos factures au bon projet pour mieux comprendre vos
            marges.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-dollar-sign"></i></div>
          <h4><a>Facturez en devise</a></h4>
          <p>Grace à notre outil de conversion transformez en un clic la devise de vos factures.</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-upload"></i></div>
          <h4><a>Téléchargez et transférez</a></h4>
          <p>Envoyé vos documents par mail en un seul clic ou exportez les pour garder une trace physique</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->

<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">

    <div class="row">

      <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
        <div class="box featured">
          <h3>Un logiciel de facturation</h3>
          <h4><span>Simple et efficace</span></h4>
          <p>Remplissez et visualisez facilement vos factures grâce à un éditeur ultra simple d’utilisation.
            Soyez en conformité avec la loi, tout ce qui doit être sur vos factures l’est déjà !</p>
          <ul>
            <li><i class="bx bx-check"></i> Numérotation automatique des documents (Factures, devis…)</li>
            <li><i class="bx bx-check"></i> Informations obligatoires pré-inscrites</li>
            <li><i class="bx bx-check"></i> Personnalisation visuelle : Logo et couleur modifiable.</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <div class="box featured">
          <h3>Suivez vos clients et fournisseurs</h3>
          <p>Lorsque vous validez un devis ou un bon de livraison, vous pouvez le transformer en facture en un clic.
            Pas besoin de tout réécrire, vous allez gagner beaucoup de temps !<br>
            <br>Suivez simplement les devis en cours de négociation, non validés ou validés. De même pour les factures
            payées ou non payées. Ne passez plus à côté d’un paiement ou d’une relance.
          </p>
          <ul>
            <li><i class="bx bx-check"></i> Suivez les règlements en temps réel</li>
            <li><i class="bx bx-check"></i> Envoyez facilement vos devis et factures par mail</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>



<footer id="footer">




  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Billing</span></strong>. All Rights Reserved
    </div>

  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>